{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Welcome to ArtGallery {% endblock %}</h1>

<div>
    <form method="post">
        <label for="statefilter">StateAb or State Name</label>
        <input type="text" name="state" value="{{ request.form['state'] }}" />
        <button type="submit"> filter</button>
    </form>
</div>

<table border=1>
    <tr>
        <th>Customer Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>StateAb</th>
        <th>State Name</th>
        <th>Zipcode</th>
    </tr>
    {% for item in result %}
    <tr>
        <td> {{ item[0] }} </td>
        <td> {{ item[1] }} </td>
        <td> {{ item[2] }} </td>
        <td> {{ item[3] }} </td>
        <td> {{ item[4] }} </td>
        <td> {{ item[5] }} </td>
        <td> {{ item[6] }} </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}